{% extends "blog/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static  'blog/css/details.css' %}"/>
{% endblock %}


{% block content %}

<div class="completestory">
    <img class="storyimg"src="{{ post.image.url }}" alt="AWS"/>
    <div class="storydescription">
        <h1 class="h1heading">
            {{ post.title }}
        </h1>
        <span class="blog-author">Arman Ahmed</span>
        <span class="blog-publish-date">| 05 Jul 2019</span>
        <p>{{ post.content }}
        </p>
    </div>
</div>

{% endblock %}